/* Google Charts */

/* Hide the useless displayZoomButtons */
#reactgooglegraph-1_AnnotationChart_zoomControlContainer_1-hour,
#reactgooglegraph-1_AnnotationChart_zoomControlContainer_1-day,
#reactgooglegraph-1_AnnotationChart_zoomControlContainer_5-days {
  display: none;
}
/* Correct the legend & zoomControls font */
.google-visualization-atl .legend,
.google-visualization-atl .zoomControls {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Missing bottom border */
#reactgooglegraph-1_AnnotationChart_rangeControlContainer {
  border-bottom: 1px #888888 solid;
}

/* Google Charts - END reactgooglegraph-1_AnnotationChart_containerTable */
